<h1>{{titleMain}}</h1>
<button (click)="alterarTexto()">Alterar</button>
<ul>
  <li *ngFor="let todo of todos">{{ todo.id }}. {{todo.title}} - {{todo.done}} 
    <button *ngIf="!todo.done" (click)="markAsDone(todo)">CONCLUIR</button> -
    <button *ngIf="todo.done" (click)="markAsUndone(todo)">REFAZER</button> 
    <button (click)="remove(todo)">REMOVER</button> </li> 
</ul>

<form [formGroup]="form">
  <fieldset>
    <label>Tarefa</label>
    <input 
      type="text" 
      placeholder="título da tarefa" 
      maxlength="60" 
      formControlName = 'title'>
    <button>Salvar</button>
  </fieldset>
</form>